<h1>Angular Pipes</h1>

<!--<p>{{ e | number:'1.1-5' }}</p>-->
<!--<p>{{ e | number:'3.1-2' }}</p>-->
<!--<p>{{str | uppercase | lowercase| titlecase}}</p>-->
<!--<p>{{str | titlecase| slice:1:5}}</p>-->
<!--<p>{{float}}</p>-->

<!--<p>{{float}}</p>-->

<!--<p>{{float |currency}}</p>-->

<!--<p>{{float |percent}}</p>-->
<!--<pre>{{obj|json}}</pre>-->

<!--<p>{{10 | mult}}</p>-->

<!--<p>{{2 | mult}}</p>-->

<!--<p>{{3 | mult}}</p>-->

<!--<p>{{4 | mult}}</p>-->

<!--<p>{{5 | mult}}</p>-->

<!--<p>{{'Hello World     '|exMarks}}</p>-->
<button (click)="searchField='title'">Title</button>
<button (click)="searchField ='text'">Text</button>

<input type="text" [(ngModel)]="search">
<div class="card" *ngFor="let post of posts | filter:search:searchField">
  <h2>{{post.title}}</h2>
  <p>{{post.text}}</p>
</div>
